* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(to top, #3a1532 0%, #65375a 1%, #a092a5 100%);
    

    .contenedor {
        height: 500px;
        max-width: 450;
        background-color: rgb(240, 221, 233);
        border-radius: 10px;
        padding: 16px 25px;
        position: absolute;
        box-shadow: 0 25px 45px rgba($color: #000000, $alpha: 0.25);
        border: 1px solid rgba($color: #ffffff, $alpha: 0.25);


    }

    header {
        color: #333;
        text-align: center;
        h1{
            font-size: 21px;
            font-weight: 500;
        }
        p {
            color: #333;
            font-size: 16px;
            
        }
    }
    .form {
        margin: 20px 0 25px;
        input{
            font-size: 18px;
            padding: 0 10px;
            height: 45px;
        }
        #qr {
            color: #333;
            cursor: pointer;
            margin: 0;
            margin-top: 20px;
            font-size: 17px;
            font-weight: 600;
            border-radius: 20px;
            width: 100%;
            background: linear-gradient(to right, rgb(175, 202, 158) 0%, rgb(141, 174, 120) 50%, rgb(110, 143, 87) 100%);
            background-size: 200% auto;
            transition: all 0.5s ease-in-out;

            &:hover {
                background-position: right;
                transform: scale(1.03);
            }
        }
    }
    .qr_code {
        background: rgba($color: #ffffff, $alpha: 0.3);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 23px 0;
        border-radius: 5px;
        flex-direction: column; }

    #descargar {
        width: 35%;
        border-radius: 15px;
        padding: 8px !important;
        margin-top: 12px !important;
        margin: 0;
        color: #ffffff;
        background-color: rgb(68, 68, 68);

        transition: 0.5s;

        &:hover {
            color: rgb(24, 24, 24);
            background: #fff;
        }
    }
    img {
        width: 150px;
    }
}
